<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SecVoice.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SecVoice.Properties.Settings>
            <setting name="serverAddress" serializeAs="String">
                <value>server.secvoice.de</value>
            </setting>
            <setting name="runOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastPhonebookUpdate" serializeAs="String">
                <value>Nie</value>
            </setting>
            <setting name="lastCheckedForUpdate" serializeAs="String">
                <value>Nie</value>
            </setting>
            <setting name="build" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="developerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keyPairSet" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="serverPort" serializeAs="String">
                <value>16550</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="token" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="number" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="phoneBook" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;PhoneBook&gt;
  &lt;PhoneBookEntry&gt;
    &lt;Name&gt;Klicke auf Daten Abrufen&lt;/Name&gt;
    &lt;Number&gt;0&lt;/Number&gt;
  &lt;/PhoneBookEntry&gt;
&lt;/PhoneBook&gt;</value>
            </setting>
        </SecVoice.Properties.Settings>
    </userSettings>
</configuration>