body {
    background-color: gold;
}
a {
  text-decoration: none;
}
#title {
  font-family: Sans-serif, serif;
  text-align: center;
}
#copyright {
  color: grey;
  position: fixed;
  bottom: 1%;
  height: 0;
  max-height: 0%;
  text-align: left;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.menu {
  color: white;
  background-color: black;
  font-family: Courier New, serif;
  border: solid;
  border-radius: 5px;
}
.info {
  font-family: JetBrains Mono, serif;
  font-size: 30px;
}
#login {
  opacity: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: rgb(255, 255, 255);
  border: solid;
  border-radius: 3px;
}
.download{
  font-family: JetBrains Mono, serif;
  color:#fff;
  background-color:blue;
  border:solid;
  border-radius:5px}
.email {
  font-family: JetBrains Mono, serif;
  font-size: 15px;
}
.seperator {
  font-family: JetBrains Mono, serif;
  font-size: 15px;
  color: grey;
}
.dlinfo {
  font-family: JetBrains Mono, serif;
  font-size: 15px;
}
.infoButton {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: rgb(0, 204, 255);
  background-color: black;
  border: solid;
  border-radius: 5px;
}